<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入页面</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body class="bg">
    <div class="main">
        <div class="head clearfix">
            <h1 class="logo l">欢迎</h1>
            <p class="subtitle l" >分享你的世界,分享快乐</p>
        </div>
        <div class="mainContext clearfix">
            <div class="leftContext l">
                <img src="../static/eg_tulip.jpg"  alt="上海鲜花港 - 郁金香" />
            </div>
            <div class="rightContext l">
                 <form action="/" method="post">
                     <!--img src="/static/user.jpg" alt="user"-->
                    <input type="text" name="username" id="name" placeholder="用户名"><br/>
                    <input type="password" name="password" id="pd" placeholder="密码"><br>
                    <input type="submit" class="submit-btn" name="提交">
                 </form>
            </div>
        </div>

    </div>
</body>
</html>