<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wlcome {{ user }}</title>
</head>
<body background="">
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	<div class="box">
		<!-- 头部 -->
		<div class="head clearfix">
			<ul class="ul1">
				<li class="on">
					<a href="javascript:;">首页</a>
				</li>
				<li class="li2">
					<form action="{{ url_for('main.blog') }}">
						<input class="int1" type="text">
						<input type="submit" value="搜索">
					</form>
				</li>
			</ul>
			<ul class="r ul2">
				<li class="li1"><img src="../static/usr_image.jpeg" alt="头像"></li>
				<li><a href="javascript:;">登录</a></li>
				<li><a href="javascript:;">注册</a></li>
			</ul>
		</div>
        <!-- 内容 -->
        <div class="content">
            <div class="content-left">
        {% for i in title %}
            {% set idt = i.id %}
            <h2><a href="/{{  idt}}">{{ i.title }}</a></h2>
            <h5>{{ i.content |truncate(500)}}</h5>
            <strong>{{ i.datetm }}</strong>
        {% endfor %}
        </div>
                <div class="right">
            <a href=""></a>
        </div>
        </div>
	</div>
</body>
</html>

